# Dependencias
node_modules/

# Variables de entorno — MUY IMPORTANTE no subir esto nunca
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage tests
coverage/

# Build
dist/
build/